html{
   scroll-behavior:smooth;
   overflow-x: hidden
}
@media (min-width: 800px) {
  .navbar-collapse {
    display: none;
  }
}
#navbar{
  position:fixed;
  width:100%;
  
}
.navbar{
  margin-bottom: 0px !important;
}
#welcome-section{
  display:flex;
  justify-content:center;
  background-color: #212F3D;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
  margin-bottom: -20px;
}
.caption{
  color: mediumaquamarine;
  font-size: 18px;
}
.about {
  color:#bfbfbf;
  width: 36em;
  max-width: 100%;
  padding: 25px;
  margin: 10px;
  font-size: 18px;
  line-height: 1.5;
  font-family: -webkit-pictograph;
}
@media (max-width: 320px) {
  .about {
    font-size: 16px;
  }
}
#welcome-section h1{
  color: silver;
}
#projects h2{
  text-align:center;
  font-family: -webkit-pictograph;
  padding:15px;
  color:thistle;
}
#grid-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
    width: 100%;
   padding: 25px;
  border-radius:2px;
}
#grid-item{
  background-color:#34495E;
  padding: 10px;
    border-radius: 8px;
  box-shadow: 5px 5px 5px grey;
}
#projects{
  background:#17202A;
}
#product-image{
  width: 100%;
    height: 80%;
  border-radius: 5px;
}

.project-tile{
  text-align:center;
  padding:10px;
  font-size:20px;
  font-family:Open Sans;
  color:#ccc;
  
}
.project-tile:hover{
  color:orange;
}
#project-link{
  text-decoration:none;
}
#Profile{
  background:linear-gradient(45deg, black, transparent);
  padding:10px;
  text-align:center;
}
#profile h2{
 text-align: center;
    padding: 20px;
}
#grid-container-profile{
  display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 4rem;
    width: 100%;
    padding: 10px;
}
#Profile h3{ 
    padding: 10px;
    color: whitesmoke;
}
#profile-link{
 text-decoration: none;
}
#profile-image{
  height:auto;
  width:20%;
}
#Profile h3:hover{
  color:orange;
}

@media (min-width:1080px){
  #grid-container{
  display:grid;
  
  grid-gap: 4rem;
    width: 100%;
   padding: 25px;
  border-radius:2px;
}
}

 body { overflow-x: hidden}